@import 'scss/constants.scss';

.wrapper {
  display: flex;
}

.window {
  position: sticky;
  top: 0;
  width: 50%;
  height: 100vh;
  background-image: url(~assets/backdrop.jpg);
  background-size: cover;
  background-position: center;
}

.body {
  align-items: stretch;
  width: 50%;
  min-height: 100vh;
}
