body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: 'Volkhov', serif;
  font-weight: bold;
}

* {
  box-sizing: inherit;
  margin: 0;
}
